/* used variables so you can change these values and it would apply to the entire webpage */
:root {
    --main-radius: 10px;
    --main-padding: 8px;
    --main-margin: 15px;
}
/* gave the entire page this font class */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-image: url("../assets/images/background.jpg");
  }

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 60px;
    margin-left: 20px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 35px;
}

.header a {
    text-decoration: none;
}
/* this class is the basis for all of the content on the webpage. instead of using flexbox, I opted to try grid */
.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2.0fr 1.5fr 1.0fr 0.8fr;
    grid-template-areas: 
    "aside main main main"
    "aside content1 content2 content3"
    "aside footer footer footer";
    grid-gap: 1.2rem;
    margin: 0px 20px;
    font-size: 20px;
}

.grid h2 {
    font-size: 30px;
    margin-left: var(--main-margin);
}

.aside {
    grid-area: aside;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-color: #E9967A;
    text-align: center;
}

.aside h1 {
    padding-top: 20px;
}

.aside img {
    width: 200px;
    height: 200px;
    padding: 5px;
}

#main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-image: url("../assets/images/background1.jpeg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
/* content will be added to these sections as I create more projects */
#content1 {
    grid-area: content1;
    background-color: peachpuff;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2 {
    grid-area: content2;
    background-color: rosybrown;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3 {
    grid-area: content3;
    background-color: thistle;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#footer {
    grid-area: footer;
    background-color: oldlace;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

#divSpacing {
    margin: 15px 10px;
}
/* converts the content to rows when it reaches 550 pixels */
@media only screen and (max-width:550px){
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "aside"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}